/**************************************************************************
                               Generic Tags
**************************************************************************/
body{
	width:60%;
	margin:auto;
	padding:1em;
	background: url(../img/forest.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1{
	font-size:3em;
}
h2{
	font-size:2.5em;
}
h3{
	font-size:2em;
	margin-top:.5em;
	margin-bottom:.5em;
}
a:link {color:#FF0000;}      /* unvisited link */
a:visited {color:#00FF00;}   /* visited link */
a:hover {color:#FF00FF;}     /* mouse over link */
a:active {color:#0000FF;}    /* selected link */
/**************************************************************************
                                   Header
**************************************************************************/
header#header{
	position:relative;
	z-index:5;
	width:20%;
	height:100%;
	float:left;
	margin-right:2em;
	padding:2em;
	border-radius:25px;
	box-shadow: 5px 5px 2px 5px #737373;
	background-image:url("../img/woodfine.png");
}
header#header nav ul{
	font-size:2.5em;
	list-style:none;
	padding:0;
	margin:0;
}
header#header nav ul li{
	border-top:black solid 1px;
}
header#header nav ul li:last-child{
	border-bottom:black solid 1px;
}
header#header nav ul li a{
	text-decoration:none;
	color:black;	
}
header#header nav ul li a:visited{
	text-decoration:none;
	color:black;
	
}
header#header nav ul li a:hover{
	text-decoration:none;
	color:white;
	
}
header#header nav ul li a:active{
	text-decoration:none;
	color:black;
	
}
header#header nav ul li.is-active a{
	text-decoration:none;
	color:white;
	
}
p.phone_number{
	font-size:2em;
}
img#logo{
	width:100%;
	height:auto;
}
p#show_more_services{
	float:right;
	font-size:2em;
	margin:0em;
}
p#show_more_services a{
	color:black;
}
p#show_more_services a:hover{
	color:white;
}
p #menu_phone{
	color:darkgreen;
}
p #menu_phone:hover{
	color:white;
}
/**************************************************************************
                        Main Style Shared Across Pages
**************************************************************************/
section#main_container{
	position:relative;
	z-index:0;
	padding:2em 2em 0em 2em;
	border-radius:25px;
	box-shadow: 5px 5px 2px 5px #737373;
	background-color: rgba(229, 233, 240, .7);
}
h2#logo_penguin{
	display: inline-block;
	position: absolute;
	left: 57%;
	top: 3%;
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
h3#logo_home{
	display: inline-block;
	position: absolute;
	left: 51%;
	top: 6%;
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

img#main_roof{
	position: absolute;
	left: 51%;
	top: 3%;
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
img#main_image{
	height:200px;
	width:600px;
	margin:auto;
	display:block;
	border-radius:25px;
}
/**************************************************************************
                               Home Page
**************************************************************************/
body#home article#show_off_holder{
	width:71%;
	float:right;
}
body#home section.show_off_container{
	width: 44%;
	margin:1em;
	float:left;
	border:black solid 1px;
	background-color: rgba(229, 233, 240, .7);
}
body#home img.show_off_image{
	width:100%;
	height:auto;
}
body#home h3.show_off_title{
	text-align:center;
}
body#home p.show_off_description{
	padding:1em;
}
/**************************************************************************
                               Services
**************************************************************************/
body#services h1#main_title{
	margin-bottom:0em;
	margin-top:0em;
}
body#services article#services_holder{
	width:71%;
	float:right;
}
body#services section.service_container{
	width: 96%;
	margin:1em;
	border:black solid 1px;
	background-color: rgba(229, 233, 240, .7);
}
body#services img.service_image{
	width:33%;
	height:auto;
	float:left;
}
body#services h3.service_title{
	width:63%;
	text-align:center;
	float:left;
}
body#services p.service_description{
	width:60%;
	padding:1em;
	padding-top:0em;
	float:left;
	margin:0em;
}
/**************************************************************************
                               Contact Us
**************************************************************************/
body#contact h1{
	margin-bottom:0em;
	margin-top:0em;
}
#service_area,section#address_container,section#contact_container,section#contact_form{
	width:67%;
	background-color: rgba(229, 233, 240, .7);
	border:black solid 1px;
	float:right;
	padding:1em;
	margin-top:1em;
}
#service_area h2{
	margin-top:0em;
}
#area_covered{
	float:right;
}
#googft-mapCanvas {
  height: 300px;
  margin: 0;
  padding: 0;
  width: 58%;
  float:right;
  border-radius:20px;
}
#map_canvas {
  height: 300px;
  margin: 0;
  padding: 0;
  width: 58%;
  float:right;
  border-radius:20px;
}
#area_covered{
	margin-right:1em;
}
#area_include{
	margin:0;
}
#address_holder{
	font-size:1.5em;
	float:right;
	margin-left:2em;
}
div#email_phone{
	float:right;
	font-size:1.5em;
	margin-right:1.5em;
}
div#email_phone p{
	margin-top: 1.4em;
}
div#email_phone a{
	color:black;
}
div#email_phone a:hover{
	color:white;
}
p#social_media{
	float:right;
	margin-right:10%;
}
p#social_media a#facebook_link{
	background-color:#3b579d;
	width:220px;
	height:50px;
	display:inline-block;
	border-radius:20px;
	margin-bottom: 1em;
}
p#social_media a#facebook_link img{
	width:200px;
	height:50px;
	border-radius:20px 0px 0px 20px;
}
form#contact{
	font-size:1.75em;
	margin-left: 5%;
}
form#contact input{
	font-size:1em;
}
form#contact textarea{
	font-size:.75em;
}
form#contact fieldset{
	border:0;
}

/**************************************************************************
                               Helper Classes
**************************************************************************/
.clearFix{
	clear:both;
}
.clearRight{
	clear:right;
}
.center{
	text-align:center;
}
/**************************************************************************
                               Responsive Design
**************************************************************************/
@media screen and (max-width: 1600px){
	body{
		width:70%
	}
}
@media screen and (max-width: 1400px){
	body{
		width:85%
	}
}
@media screen and (max-width: 1200px){
	body{
		width:96%
	}
}